/* Background Pattern Found at Link Below
https://codepen.io/poonam-adlakha/pen/qBorjWY */

html {
  background-size: 100px 100px;
  background-position: 0 0, 25px 25px, 50px 50px;
  text-align: center;
}

body {
background: radial-gradient(#f19595 5px, 
      rgb(255, 197, 197) 10px 65px, #ffb1a6  1px ) ;
    background-size: 100px 100px ; 
}

h1,
h2 {
  background-color: #6b1916 ;
  border-radius: 20px;
  color: rgb(139, 55, 55);
  width: 600px;
  margin: auto;
  margin-bottom: 5px;
}
#myCanvas {
  border: 5px solid  #7e211e;
  border-radius: 30px;
}
